#container {
		 position: relative;
		 overflow: hidden;
}
#container .content {
		  position: absolute;
		  top: 0;
		  left: 50;
}


body { 
	 background-image: url("../../../assets/css/smoke.bg.mp4");
	font-family: 'Fondamento', Georgia, 'Times New Roman', serif, cursive;
	align-content: center;      
	color: rgb(206, 247, 59);      
	font-size: 16px;
	font-weight: bold;
	text-align:center;
	vertical-align:center;
	line-height: 36px;  
}html {
	height: 100%;
	box-sizing: border-box;
  }
  


  .containter {
	  width: 100%;
	  max-width: 950px;
	  margin: 0 auto;
  }
  
  #space {
	  margin-top: 15px;
  }
  
  .footer {
	  right: 0;
	  left: 0;
	  bottom: 0;
		position: absolute;
	  background: #DBA5DF;
	  text-align: center;
	  font-size: 30px;
	  color: #4A5BD2;
		padding: 1rem;
  }
  
  /*MEDIA QUERIES*/
  
  @media screen and (max-width: 980px){
	  #psychic-image {
		  margin-left: 175px;
	  }
  
	  #psychic {
		  margin-left: 165px;
	  }
  
	  #psychics-image {
		  margin-right: 180px;
	  }
  
  }
  
  
  @media only screen and (max-width: 768px){
  
	  #psychic {
		  margin-left: 170px;
	  }
  
  }
  
  
  @media only screen and (max-width: 640px){
  
	  h2 {
		  margin-left: 70px;
	  }
  
	  #psychic-image {
		  margin-left: 150px;
	  }
  
	  #psychic {
		  margin-left: 145px;
	  }
  
	  #psychics-image {
		  margin-right: 100px;
	  }
  
  }
  
